<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <!-- hearder -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3">
        <div class="container">
            <a href="#" class="navbar-brand">JK</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#my" class="nav-link">旅館介紹</a>
                    </li>
                    <li class="nav-item">
                        <a href="#room" class="nav-link">房型介紹</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- 介紹 -->
    <div class="p-5 text-center border-bottom" id="my">
        <h1>Hotel介紹</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead m-4">
                Group7<br>
                111590020	陳瑋瑜<br>
                111590013	呂念庭<br>
                111370102	蔡炅曄 <br>
            </p>
        </div>
    </div>

   <!-- 卡片 -->
    <div class="p-5" id="room">
        <div class="container">
            <div class="row g-4">
                <div class="col-sm">
                    <div class="card shadow-lg">
                        <img src="../Image/SingleRoom1.jpg" alt="single room" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Single Room</h3>
                            <p class="card-text">
                                &#128100 入住1人<br>
                                &#128719 一小床
                            </p>
                            <button class="btn btn-primary">Detail</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card shadow-lg">
                        <img src="../Image/DoubleRoom1.jpg" alt="double room" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Double Room</h3>
                            <p class="card-text">
                                &#128101 入住2人<br>
                                &#128719 一大床
                            </p>
                            <button class="btn btn-primary">Detail</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card shadow-lg">
                        <img src="../Image/DeluxRoom1.jpg" alt="Delux room" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Delux Room</h3>
                            <p class="card-text">
                                &#128101 入住3人<br>
                                &#128719 一小床+一大床
                            </p>
                            <button class="btn btn-primary">Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="p-4 border-top">
        <div class="container d-flex align-items-center justify-content-between">
            <address>
                <strong>Group7 Hotel</strong><br>
                &#9742 0922610121<br>
                &#128205 台北市大安區忠孝東路三段1號<br>
                &#128231 can'tFind@gmail.com<br>
                &#127757	www.groupSevenHotel.com<br>
            </address>
        </div>
    </footer>
    
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>
